body {
    font-family: 'MGPDisplay-Regular', sans-serif;
    margin: 0;
    padding: 0;
}


.container-form {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.container-form form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 0.5rem;
    width: 100%;
}

.form-group input, textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    resize: none;
}


.btn-enviar {
    width: 60%;
    padding: 1rem 2rem;
    font-family: 'MGPDisplay-Light', sans-serif;
    background-size: cover;
    position: relative;
    z-index: 1;
    color: white;
    box-sizing: border-box;
    border-top: 3px solid #5C6169;
    background-color: #1F242A;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    margin: 0 auto;
}

.btn-enviar:hover {
    cursor: pointer;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.89), 90%, rgba(255, 0, 0, 0.774)), url('../../../assets/background-buttons.jpg');
    background-size: cover;
    border-top: 3px solid #CDA68E;
    transform: scale(1.05);
}