body {
    margin: 0;
    padding: 0;
    font-family: 'MGPDisplay-Regular', sans-serif;
    overflow: hidden;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 5vw;
    height: fit-content;
    padding: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    gap: 0.5rem;
    z-index: 1000;
}

.modo {
    list-style: none;
    width: 2rem;
    height: 2.5rem;
    padding: 0.5rem 0.7rem;
}

@media screen and (max-width: 768px) {
    .modo {
        width: 3rem;
        height: 3rem;
        padding: 0.5rem 1rem;
    }
    
}

.modo:hover {
    cursor: pointer;
    background-color: #000000BA;
    border-radius: 0.3rem;
}

.modo:hover .modo-icon {
    color: #ff2d1d;

}

.modo-icon {
    width: 100%;
    height: 100%;
    color: white;
}

.background-video {
    width: 90vw;
    height: 90vh;
    box-sizing: border-box;
    position: fixed;
}

.video-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

#container {
  height: 500vh;
  overflow: scroll;
  scrollbar-width: none;
}

#container::-webkit-scrollbar {
    display: none;
}

#section1, #section2, #section3, #section4 {
    position: relative;
    z-index: 10;
    height: 100vh;
    width: 60vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 10vw;
}

#section1 {
    height: 80vh;
    padding-bottom: 0vw;
}

h1 {
    font-family: 'MGPDisplay-Bold', sans-serif;
    font-size: 3rem;
    color: white;
    text-align: left;
    margin: 0;

}

.lista-opcoes {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 10px;
    padding-top: 1rem;
    box-sizing: border-box;
}

.opcao {
    width: max-content;
    padding: 1rem 2rem;
    font-family: 'MGPDisplay-Light', sans-serif;
    background-size: cover;
    position: relative;
    z-index: 1;
    color: white;
    box-sizing: border-box;
    border-top: 3px solid #5C6169;
    background-color: #1F242A;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.opcao:hover {
    cursor: pointer;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.89), 90%, rgba(255, 0, 0, 0.774)), url('../../../assets/background-buttons.jpg');
    background-size: cover;
    border-top: 3px solid #CDA68E;
    transform: scale(1.05);
}