body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.menu ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 5vw;
    height: auto;
    padding: 0;
}

.modo {
    list-style: none;
}

.modo-icon {
    width: 2%;
}